body {
  background-color: rgb(255, 248, 238);
  margin: 0px;
}

:root {
  --final-width: 400px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0px 20px;
}

.navbar img {
  width: 50px;
  margin-right: 10px;
}

.nav1 {
  display: flex;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin: 0;
  padding: 0;
}

.navbar .selected {
  color: red;
}

@keyframes enlarge {
  from {
    font-size: 16px;
  }
  to {
    font-size: 17px;
  }
}

.navbar a:hover {
  animation-name: enlarge;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.nav2 input {
  border-radius: 5px;
  border-radius: 1px solid;
  background-color: rgb(160, 89, 89);
  color: rgb(255, 248, 238);
  padding: 5px;
}
.nav2 input::placeholder {
  color: rgb(255, 248, 238);
  opacity: 30%;
}

.centre {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(160, 89, 89);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  height: calc(100vh - 220px);
}

.card h1 {
  font-size: 64px;
  background: -webkit-linear-gradient(orange, white, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0px;
}

.card p {
  color: white;
  text-align: justify;
  text-justify: inter-word;
  margin: 16px 0px 0px 0px;
}

.card .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

.card img {
  max-width: 600px;
  max-height: auto;
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  height: 90px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

footer .logos ul {
  font-size: 20px;
  display: flex;
  align-self: center;
  gap: 10px;
  padding: 0px;
}

footer .logo a {
  text-decoration: none;
  color: white;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.places img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.places {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background-color: rgb(160, 89, 89);
  color: rgb(255, 248, 238);
}

.places a {
  text-decoration: none;
  color: rgb(255, 248, 238);
}

.places p {
  text-align: justify;
  text-justify: inter-word;
}

.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
}

@keyframes select {
  from {
    font-size: 16px;
    color: rgb(255, 248, 238);
  }
  to {
    font-size: 17px;
    color: red;
  }
}

.places a:hover {
  animation-name: select;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes about {
  100% {
    transform: rotate(360deg);
  }
  from {
    width: 100px;
  }
  to {
    width: var(--final-width);
  }
}

.aboutImg {
  width: var(--final-width);
  border-radius: 30px;
  animation: about 2s 1;
}

.card h2 {
  color: white;
}

@media (max-width: 1050px) {
  .card h2 {
    font-size: 26px;
  }
}

@media (max-width: 915px) {
  .card img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
    width: 100%;
  }
  .card img {
    width: 330px;
  }
  :root {
    --final-width: 330px;
  }
}
@media (max-width: 750px) {
  .card {
    height: calc(100vh - 140px);
  }
}
@media (max-width: 610px) {
  .card {
    height: calc(100vh - 140px);
  }

  .card p {
    font-size: 16px;
  }
  .card h1 {
    font-size: 48px;
  }
}
@media (max-width: 500px) {
  .card {
    height: calc(100vh - 110px);
  }
}

@media (max-width: 470px) {
  .navbar {
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
  }
  .nav1 {
    width: 100%;
    justify-content: space-between;
  }
  .nav1 ul {
    width: 100%;
    justify-content: space-evenly;
  }
  .nav2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav2 input {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .card p {
    font-size: 14px;
  }
  .card h1 {
    font-size: 32px;
  }
  .card img {
    width: 280px;
  }
  footer p {
    font-size: 12px;
  }
  :root {
    --final-width: 280px;
  }
}
@media (max-width: 350px) {
  .places {
    width: 250px;
  }
  .places img {
    width: 250px;
  }
}
